<!--Contact Form-->
<div class="container pag" style="margin-top:20px;">
  <div class="row">
    <div class="col-sm-6">
        <form>
            <p class="h5 text-center mb-4">Write to us</p>
        
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="form3" class="form-control" mdbActive>
                <label for="form3">Your name</label>
            </div>
        
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="form2" class="form-control" mdbActive>
                <label for="form2">Your email</label>
            </div>
        
            <div class="md-form">
                <i class="fa fa-tag prefix grey-text"></i>
                <input type="text" id="form32" class="form-control" mdbActive>
                <label for="form34">Subject</label>
            </div>
        
            <div class="md-form">
                <i class="fa fa-pencil prefix grey-text"></i>
                <textarea type="text" id="form8" class="md-textarea" style="height: 100px" mdbActive></textarea>
                <label for="form8">Your message</label>
            </div>
        
            <div class="text-center">
                <button class="btn btn-primary waves-light" mdbRippleRadius>Send <i class="fa fa-paper-plane-o ml-1"></i></button>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <div style="padding:10px;">
            <p class="h5 text-center mb-4">Reach us at</p>
            <p class="lead"><i class="fa fa-address-book" aria-hidden="true"></i> Plot No.- 140, AicobooNagar,13th Main, 2nd Cross, BTM Layout 1st Stage, Bangalore - 560069</p>
            <hr class="my-2">
            <p class="lead"><i class="fa fa-mobile-phone" aria-hidden="true"></i> <a href="tel:8970553647">8970553647</a> or <a href="tel:9910405113">9910405113</a></p>
            <hr class="my-2">
            <p class="lead"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:mandmadetoyz4u@gmail.com" target="_blank">mandmadetoyz4u@gmail.com</a></p>
            <hr class="my-2">
            <div class="text-center">
              <img src="assets/logo/clogo.png" alt="hand made toys logo" width="220">
            </div>
        </div>
    </div>
  </div>
</div>