<div class="conatiner" style="margin-top:20px;">
  <div class="row">
    <div class="col-md-12 founder" style="text-align:center">
      <a href="https://www.facebook.com/seema.awasthi" target="_blank">
        <div class="cards cards-1">
          <img src="http://handmadetoys.in/founder/SeemaAwasthi.jpg" height="220" width="220">
          <p style="text-align:center"><strong>Seema Awasthi (Craft Designer)</strong></p>
        </div>
      </a>
      <a href="https://www.facebook.com/iamnirajsingh" target="_blank">
        <div class="cards cards-1">
          <img src="http://handmadetoys.in/founder/NirajSingh.jpg" height="220" width="220">
          <p style="text-align:center"><strong>Niraj Singh (Journalist)</strong></p>
        </div>
      </a>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <blockquote class="blockquote pag">
          <p class="mb-0">
            <h4>Who We Are:</h4>
            <p>We, Seema Awasthi (Craft Designer) and Niraj Singh (Journalist), turned entrepreneur, creator, and seller of handcrafted products Our products are designed to elevate everyday living and enhance the way people connect.</p><p>We are experts of two different fields and collaborate together to live our passion for handicrafts toys. Our mission is to restore the glory of Indian heritage and culture by appreciating and popularizing forgotten Indian handicrafts toy culture along with bringing social and commercial benefits to the artisans. We bring these exquisite, timeless pieces of art to our consumers with the relevant information on what these are, how those are made, what make them so exclusive.</p>
            <p>At, "HAND MADE TOYS" we plan our business as thoughtfully as we bring indigenous hand crafted timeless pieces and artworks for you. We ask ‘why’ at every step while designing our products and answer to the ‘why’ has been always to serve you the best products in terms of innovation and creativity. At our studio, experimentation rules and culture and creativity thrives. This helps us grow responsibly and build a strong business relationship. Also, it’s more fun than we ever imagined!</p>
            <p>We believe in quality over quantity, and hence, make and sell beautiful, well made goods that stand the test of time. All our products are inspired by Indian culture.</p>
          
        </blockquote>
    </div>

  </div>
</div>