<div class="container" style="margin-top:20px;">
  <div class="row">
        <header *ngIf = "showLoader">
        <div aria-busy="true" aria-label="Loading, please wait." role="progressbar"></div>
        </header>   
    <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4" *ngFor="let item of pagedItems;">
        <!--Card-->
        <div class="card" style="margin-top:10px;">
            <!--Card image-->
            <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <img src="http://handmadetoys.in/{{item.img}}" class="img-fluid" alt="{{item.title}}">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">{{item.title}}</h4>
                <!--Text-->
                <p class="card-text">{{item.detail | slice:0:110}}...</p>
                <p class="card-text">Price: {{item.price}}</p>
            </div>
        
        </div>
        <!--/.Card-->
    </div>
    <div class="col-12">
        <!--Pagination -->
        <nav class="my-4">
            <ul class="pagination pagination-circle pg-blue mb-0" *ngIf="pager.pages && pager.pages.length">

                <!--First-->
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}"><a class="page-link" mdbRippleRadius (click)="setPage(1)">First</a></li>

                <!--Arrow left-->
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" mdbRippleRadius aria-label="Previous" (click)="setPage(pager.currentPage - 1)">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                    <a (click)="setPage(page)" class="page-link" mdbRippleRadius>{{page}}</a>
                </li>

                <!--Arrow right-->
                <li class="page-item"  [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" mdbRippleRadius aria-label="Next" (click)="setPage(pager.currentPage + 1)">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>

                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>

            </ul>
        </nav>
        <!--/Pagination -->
    </div>
  </div>
</div>